body {
  margin: 15em;
  background-color:#FFFDEF;
  font-family:arial;
  font-size:15px;
}

h1 {
  font-family: 'Righteous', cursive;
  color: #8D3903;
  text-align:center;
  font-size:50px;
}

span {
  font-size:15px;
  color:grey;
}

p {
 font-size:15px;
  
}

h2 {
  font-size:15px;
  text-align:left;
  border-style:solid;
  border-width:2px;
  padding:2em;
  line-height: 200%
  
}

h4 {
  font-size:15px;
  border-style:solid;
  border-width:2px;
  padding:2em;
  line-height: 200% 
  
}

h5 {
  font-size:15px;
  border-style:solid;
  border-width:2px;
  padding:2em;
  line-height: 200% 
}
